/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 470px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    overflow: auto;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.center, .center-align {
  text-align: left;
}

@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 150px;
    line-height: 150px;
}
}

.teal{
  background-color: #58A1AD !important;
}

.brand-logo{
  padding: 24px 0 0 0 !important;
}

.row{
  margin-top: 80px;
  margin-bottom:80px;
}

.skills-technologies_row{
  margin-top: 200px;
  margin-bottom: 0px;
}

#profile-img{
  width: 300px;
  height: 300px;
}

.sub-title{
  color: #545362;
}

.language_row{
  margin-top: 40px;
}

.languages-box{
  background-color: #f9f9f9;
  padding: 36px !important;
}

.skills-box{
  padding: 36px !important;

}

.programs-box{
  background-color: #f9f9f9;
  padding: 36px !important;
}

.socicon-github{
  content: "\e032";
}

.nav-list{
  width: 306px;
  margin: 0 auto;
}

.section{
  margin: 100px 0px 100px 0px;
}

.section-title{
  font-size: 30px;
  text-align: center;
}

/* nav */

.header{
  width: 100vw;
  height: 80px;
}

.nav-list{
  width: 100%;
}

.nav-list li{
  float: left;
  width: 25%;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.nav-list li a{
  color: #58A1AD;
}

.material-icons{
  line-height: 80px !important;
}

/* nav */

/* --- profile --- */
#about{
  overflow: auto;
  /*margin: 100px 0px 100px 0px;*/
}
#profile-photo{
  float: left;
  margin: 0px 36px 0px 0px;
}
#profile-bio{
  font-size: 18px;
}
/* --- profile --- */

.project-title{
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 0px 0px !important;
}

h5{
  font-weight: 500;
}

a{
  color: #58A1AD;
}

